html,
body,
:root {
  --dark-white: #f6f6ec;
  --dark-gray: #171712;
  --dark-black: #000000;
  --light-white: #f6f6ec;
  --light-black: #171712;
  --light-beige: #efede0;

  --primary: var(--light-white);
  --secondary: var(--light-black);
  --tertiary: var(--light-beige);
}

body.cool {
  --primary: var(--dark-gray);
  --secondary: var(--dark-white);
  --tertiary: var(--dark-black);
}

body.warm {
  --primary: var(--light-white);
  --secondary: var(--light-black);
  --tertiary: var(--light-beige);
}

/* sections */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 9px;
  font-family: "Poppins", sans-serif;
  background: var(--primary);
  color: var(--secondary);
}

.container {
  width: 90vw;
  background-color: var(--primary);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  align-items: center;
}

/* text */
.title {
  margin: 2.5rem auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  width: 400px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Crimson Text", serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

h5 {
  font-size: 1.5rem;
  margin-left: 2rem;
  padding: 0;
  text-align: left;
}

p {
  font-size: 0.9rem;
  font-style: italic;
}

/* artworks */
.card {
  width: 20%;
  height: 300px;
  background-color: var(--primary);
  margin: 20px 0;
  margin-bottom: 5rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.card img {
  width: 100%;
  height: 99%;
  object-fit: cover;
}

/* filter */
.filterSelect {
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: 0;
  z-index: 1000;
  background-color: var(--secondary);
  color: var(--primary);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.filter__buttons {
  font-size: 0.8rem;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  text-align: center;
  line-height: 1rem;
  margin-bottom: 0px;
  border: 1px solid var(--secondary);
  color: var(--primary);
  padding: 10px 38px;
}

/* theme */
.theme__toggle {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  line-height: 1rem;
  margin-bottom: 0px;
  color: var(--primary);
  padding: 10px 10px;
  background-color: var(--secondary);
  border-radius: 8px;
}

/*upload section*/
.upload__section {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 2rem 0 2rem 2rem;
  width: 100vw;
  background: var(--secondary);
  color: var(--primary);
}

.upload__section h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}

#uploadForm {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

#uploadForm input[type="text"],
#uploadForm input[type="number"] {
  font-family: "Poppins", sans-serif;
  padding: 0.6rem 1rem;
  font-size: 1rem;

  background-color: var(--primary);
  color: var(--secondary);

  border: 1px solid var(--secondary);
  border-radius: 6px;

  transition: border-color 0.25s ease, background-color 0.25s ease;
}

#uploadForm input[type="text"]:focus {
  font-family: "Poppins", sans-serif;
  outline: none;
  border-color: var(--primary);
}

#uploadForm input[type="file"] {
  font-family: "Poppins", sans-serif;
  color: var(--primary);
  font-size: 1rem;
}

#uploadForm button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 0.7rem 1.8rem;

  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--primary);
  border-radius: 6px;

  cursor: pointer;
  transition: 0.25s;
}

#uploadForm button:hover {
  font-family: "Poppins", sans-serif;
  background: transparent;
  color: var(--tertiary);
}

/* modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal__content {
  background: var(--primary);
  color: var(--secondary);
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  text-align: center;
  animation: fadeIn 0.3s;
}

.modal__content img {
  max-width: 100%;
  max-height: 500px;
  border-radius: 6px;
  margin-bottom: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal.show {
  display: flex;
}

/* art of the day */
.artofDay__container {
  width: 100vw;
  height: auto;
  align-items: center;
  margin-top: 0;
  margin-bottom: 2rem;
  background-color: var(--tertiary);
  color: var(--secondary);
}

.artofDay__container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 0;
}

.artofDay_text {
  width: 100vw;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--tertiary);
  color: var(--secondary);
}

/* flex */
@media screen and (max-width: 800px) {
  .card {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
}