html,
body,
:root {
  --cool-white: #a3daff;
  --cool-black: #00ccff;
  --warm-white: #fdd8d8;
  --warm-black: #ff0000;

  --primary: var(--warm-white);
  --secondary: var(--warm-black);
}

body.cool {
  --primary: var(--cool-black);
  --secondary: var(--cool-white);
}

body.warm {
  --primary: var(--warm-white);
  --secondary: var(--warm-black);
}

/* sections */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 9px;
  font-family: "PT Serif", serif;
  padding: 2rem;
  background: var(--primary);
  color: var(--secondary);
}

.filterSelect {
  width: 100%;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--secondary);
  color: var(--primary);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.artofDay__container {
  width: 100%;
  margin: 4rem auto;
  display: flex;
  top: 0;
  z-index: 1000;
  background-color: var(--primary);
  color: var(--secondary);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.container {
  width: 90vw;
  background-color: var(--primary);
  margin: 2.5rem auto;
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  width: 20%;
  height: auto;
  background-color: var(--primary);
  margin: 20px 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
}

/* text */
h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #f6f6ec;
}

h2 {
  font-size: 1.5rem;
  font-weight: medium;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
  font-style: italic;
}

/* images */
.card img {
  width: 100%;
  object-fit: cover;
}

/* other */
/* buttons */
.filter__buttons {
  font-size: 1.5rem;
  background-color: transparent;
  font-family: "PT Serif", serif;
  text-align: center;
  line-height: 1rem;
  margin-bottom: 0px;
  border: 1px solid var(--secondary);
  color: var(--primary);
  padding: 10px 70px;
}

.theme__toggle {
  font-size: 1.5rem;
  font-family: "PT Serif", serif;
  text-align: center;
  line-height: 1rem;
  margin-bottom: 0px;
  color: var(--primary);
  padding: 10px 70px;
  background-color: #000000;
}

/* flex */
@media screen and (max-width: 800px) {
  .card {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
}